<!DOCTYPE html>
<html ng-app="aps">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css">
<link rel="stylesheet" href="ext/grid/trNgGrid.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="ext/grid/trNgGrid.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

<!-- <script src="app.js"></script> -->
</head>
<body ng-controller="appCtrl as vm">
  <h1>APS <small>{{vm.user().name}}</small></h1>
  <a ui-sref="home">Home</a>
  <a ui-sref="login">Login</a>
  <a ui-sref="login">Login</a>
  <a ui-sref="patients">Patients</a>

<div ui-view class="container slide" style="padding-top: 80px;"></div>


<script type="text/ng-template" id="login.html">

<form class="form-horizontal">
<fieldset>

<legend>Login</legend>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id">ID</label>
  <div class="col-md-4">
  <input ng-model="login.id" id="id" name="id" type="text" placeholder="your MHS staff ID number"

class="form-control input-md" required="">
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input ng-model="login.password" id="password" name="password" type="password" placeholder="your MHS

password" class="form-control input-md" required="">
    <span class="help-block">Use 123 to log in</span>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-success" ng-click="login.submit()">Login</button>
  </div>
</div>

</fieldset>
</form>
</script>



<script type="text/ng-template" id="patients.html">
  <h1 ng-if="pvm.selected[0]">
    Loading {{pvm.selected[0].name}} <i class="fa fa-spinner fa-spin"></i>
  </h1>
  <table
    tr-ng-grid items='pvm.patients'
    selected-items="pvm.selected"
    selection-mode="SingleRow"
  ></table>


</script>

<script type="text/ng-template" id="patient.html">
<h1>pt.name</h1>
  {{pt | json}}

</script>

<script>

// the main module object
var aps = angular.module('aps', ['trNgGrid', 'ui.router', 'ui.bootstrap']);


// a service to hold the common business logic
aps.service('mhs', ['$q', '$timeout', function($q, $timeout){

  var me = this;

  /**
  * Private variables:
  */
  var mock_delay = 2000; // 2 seconds
  var user = {};
  var test_patients = [
          {id: 1, name: 'Frank', diagnosis: 'uncertain', ward: '8b', bed: 15},
          {id: 3, name: 'Erich', diagnosis: 'manic', ward: '8b', bed: 16},
          {id: 5, name: 'Conrad', diagnosis: 'barking', ward: '9b', bed: 15},
          {id: 6, name: 'Peter', diagnosis: 'kindly', ward: '9b', bed: 17},
          {id: 7, name: 'Mark', diagnosis: 'depressed', ward: '8b', bed: 17},
          {id: 8, name: 'Sue', diagnosis: 'hungry', ward: '8b', bed: 18},
          ];

  this.getUser = function() {
    return user;
  };

  this.login = function(id, pass){
    var deferred = $q.defer();
    $timeout(function() {
      // deferred.notify('About to log in #' + id + '.');
      if (pass==123) {
        user.id = id;
        user.name = "Test User";
        deferred.resolve('Hello, #' + id + '!');
      } else {
        deferred.reject('Wrong password for user #' + id);
      }
     }, mock_delay);
    return deferred.promise;
  }

  this.logout = function(){
    var deferred = user.name;
  }

  /*
  * @return boolean
  */
  this.loggedIn = function(){
    return !!user.name;
  }


  this.getPatients = function() {
    console.log('starting get patients');
    var deferred = $q.defer();
    $timeout(function() {
      if (me.loggedIn()) {
        deferred.resolve(test_patients);
      }
      else {
        deferred.reject('not logged in');
      }
     }, mock_delay);
    return deferred.promise;
  }

  this.getPatient = function(id) {
    console.log('starting get patient #' + id);
    var deferred = $q.defer();
    $timeout(function() {
      if (me.loggedIn()) {
        console.log('starting get patient', test_patients);
        var pt = _.find(test_patients,{id: 1*id});
        deferred.resolve(pt);
      }
      else {
        deferred.reject('not logged in');
      }
     }, mock_delay);
    return deferred.promise;
  }

}]);

// set up the "routes" within the application
aps.config([
          '$stateProvider', '$urlRouterProvider',
    function ($stateProvider,   $urlRouterProvider) {

      $stateProvider
        .state("home", {
          url: "/",
          template: '<p class="lead">Welcome to the APS</p>'
        })
        .state("login", {
          url: "/login",
          templateUrl: 'login.html',
          controller: 'loginCtrl as login'
        })
        .state("patient", {
          url: "/patient/:urn",
          templateUrl: 'patient.html',
          controller: 'patientCtrl as pt',
          resolve: {
            data: ['$stateParams', 'mhs', function($stateParams, mhs) {
              return mhs.getPatient($stateParams.urn)
             .then(
                function(patient){
                  console.log('patient loaded', patient);
                  return patient;
                },
                function(error){
                  console.log('failed patient load');
                  return {error:error}
                }
              );
            }]
          }
        })
        .state("patients", {
          url: "/patients",
          templateUrl: 'patients.html',
          controller: 'patientsCtrl as pvm',
          resolve: {
            data: ['mhs', function(mhs) {
              return mhs.getPatients()
             .then(
                function(patients){
                  console.log('patients loaded');
                  return {error: false, patients: patients}
                },
                function(error){
                  console.log('failed patient load');
                  return {error:error}
                }
              );
            }]
          }
        })

}]);

// main controller
aps.controller('appCtrl', ['$scope', '$state', 'mhs',
  function($scope, $state, mhs) {

    console.log('starting main controller');
    $state.go('login');

    this.user = mhs.getUser;

    console.log('scope', $scope);

}]);

// a controller for the login form
aps.controller('loginCtrl', ['$state', 'mhs',
  function($state, mhs) {

  console.log('starting login');

  this.submit = function() {
    mhs.login(this.id, this.password).then(
      function(greeting) { // success
        $state.go('patients');
      }, function(reason) { // failed
        alert('Failed: ' + reason);
      });
    }

}]);

// a controller for the patient form
aps.controller('patientsCtrl', ['$scope', '$state', 'mhs', 'data',
  function($scope, $state, mhs, data) {

  var me = this;
  console.log('starting patients');
  me.patients = data.patients;
  $scope.$watchCollection("pvm.selected", function(){
    if (me.selected && me.selected[0]) {
      console.log('watch!', me.selected[0].id);
      $state.go('patient', {urn: me.selected[0].id});
    }
  });


}]);

// a controller for the patient form
aps.controller('patientCtrl', ['$state', 'mhs', 'data',
  function($state, mhs, data) {

  console.log('starting patient');

  this.source = data;


}]);

</script>

</body>
</html>
